html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

header, main, footer {
  width: 100%;
  text-align: center;
}

.mar {
  background-image: url('https://th.bing.com/th/id/R.e38ed1ae7fc444f4552760ccb7b19514?rik=3Abb3ALzNiEgZQ&pid=ImgRaw&r=0');
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 10px #080930;
  border-radius: 50px;
  margin: 10% auto;
}

.fundo {
  height: 80%;
  width: 80%;
  animation: fundo-animation 5s infinite ease-in;
  border: solid 10px #06051a;
  border-radius: 50px;
  position: fixed;
  z-index: -1;
  margin: 100px auto;
}

@keyframes fundo-animation {
  0% { background-color: #06021d; }
  25% { background-color: #11088c; }
  75% { background-color: #5a568a; }
  100% { background-color: #3485a8; }
}

.botao {
  width: 30px;
  height: 30px;
  border: 5px solid;
  border-radius: 50px;
  position: fixed; 
}

.botao-on {
  background-color: #3a08af;
  top: 150px;
  left: 160px;
}

.botao-off {
  background-color: #966827;
  top: 220px;
  left: 200px;
}

.botao-left-top {
  background-color: black;
  height: 100px;
  top: 400px;
  left: 180px;
}

.botao-left {
  background-color: black;
  width: 100px;
  top: 432px;
  left: 147px;
}

.botao-right-top {
  background-color: #ee1b1b;
  top: 300px;
  left: 1115px;
}

.botao-right-bottom {
  background-color: #d61fae;
  top: 400px;
  left: 1115px;
}

.botao-right-left {
  background-color: #086820;
  top: 350px;
  left: 1070px;
}

.botao-right-right {
  background-color: #cdbc04;
  top: 350px;
  left: 1160px;
}
